<div class='row justify-content-center mt-5'>
	<div class="col-12 mb-5 px-0">
		<div class="card shadow rounded border border-primary">
			<div class="card-header bg-primary bg-opacity-75 rounded-top d-flex justify-content-between align-items-center">
				<h4 class="m-0 py-2 text-white">UTILISATEURS</h4>
				<div class="d-flex flex-row gap-4 justify-content-center align-items-center">
					<button class="button-csv btn btn-outline-light" onclick='exportUserCSV()' data-toggle="tooltip" data-placement="bottom" title="exporter au format CSV">
						<i class="fa-solid fa-file-export">
							<span class="ms-2 csv-user">CSV</span>
						</i>
					</button>
					<button class="button-csv btn btn-outline-light" onclick='modalAdduser()' data-toggle="tooltip" data-placement="bottom" title="ajouter nouvel utilisateur">
							<i class="fa-solid fa-user-plus"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<table id="tab-admin-users" class="table table-centered table-striped align-middle table-nowrap table-hover mb-0 responsive">
					<tfoot>
						<tr align='center'>
							<th><input id='searchName' class='filtreAd rounded' type='search' placeholder='rechercher'></th>
							<th><input id='searchFirstName' class='filtreAd rounded' type='search' placeholder='rechercher'></th>
							<th><input id='searchAdress' class='filtreAd rounded' type='search' placeholder='rechercher'></th>
							<th><input id='searchTel' class='filtreAd rounded' type='search' placeholder='rechercher'></th>
							<th><input id='searchMail' class='filtreAd rounded' type='search' placeholder='rechercher'></th>
							<th>
								<select id="searchType" class="filtreAd">
									<option value="">Tout</option>
									<option value="client">clients</option>
									<option value="technicien">techniciens</option>
									<option value="admin">admins</option>
								</select>
							</th>
							<th>
								<select id="searchisActive" class="filtreAd">
									<option value="">-</option>
									<option value="1">actifs</option>
									<option value="0">inactifs</option>
								</select>
							</th>
							<th></th>
							<th></th>
						</tr>
					</tfoot>
					<thead>
						<tr>
							<th data-priority="1">NOM</th>
							<th>PRENOM</th>
							<th>ADRESSE</th>
							<th>TELEPHONE</th>
							<th>MAIL</th>
							<th>TYPE</th>
							<th>ETAT</th>
							<th>MODIFIER</th>
							<th data-priority="2">On/Off</th>
						</tr>
					</thead>

					<tbody
						id="adminUsersTab"><!-- génération des rdv user ici-->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
