<div class='container px-0 px-md-3'>   
    <div class='row justify-content-center'>
        <div class="col-12 col-sm-12 col-md-12 col-lg7 col-xl-7 col-xxl-7 px-0 px-md-3">
            <div class="card shadow rounded border border-primary">
                <div class="card-header bg-primary bg-opacity-75 rounded-top d-flex justify-content-between align-items-center">
                    <h4 class="m-0 py-2 text-white">PARAMETRAGE:</h4>             
                </div>
                <div class="card-body">
                    <table id="tab-admin-settings" class="table table-centered table-striped table-nowrap table-hover mb-0">
                        <thead>
                        </thead>
                        <tbody id="settingsTab">
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>