{% extends 'base.html.twig' %}

{% block title %} Administrateur{% endblock %}


{% block content %}
<div id="adminOfficeBody" class="container-md-fluid" style="background-image:url(../public/assets/img/icons/spot-illustrations/shape-1.png);background-repeat: no-repeat;">

</div>
{% endblock %}


