<div id='dashAdmin'>
    <div class='row mt-5'>
    {# 1er TABLEAU ADMIN #}
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-5">
            <div class="card shadow rounded border border-primary">
                <div class="card-header bg-primary bg-opacity-75 rounded-top d-flex justify-content-between align-items-center">
                    <h4 class="m-0 py-2 text-dark d-none d-md-inline">RENDEZ-VOUS DU:</h4>
                    <div class='btnPrevious position-absolute' style='left: 27%'></div>
                    <div id='dateDuJour' class='position-absolute' style='left: 36%'> 
                        <!-- génération des switch dates-->
                    </div>
                    <div class='btnNext position-absolute' style='left: 72%'></div>
                    <div class='btnBack'></div>
                </div>
                <div class="card-body">
                
                    <table id="tab-rdv-admin" class="table table-centered table-striped align-middle table-nowrap table-hover mb-0">
                        <thead>
                            <tr align='center'>
                                <th></th>
                                <th>N° INTER</th>
                                <th>HEURE DU RDV</th>
                                <th>MARQUE</th>
                                <th>MODELE</th>
                                <th>  
                <div id='filtreImmat' class='d-flex justify-content-center mt-1'>
                    <!-- génération du filtre immat -->
                    </div> </th>
                                <th>SUPPRIMER</th>
                            </tr>
                        </thead>
                        <tbody id="awaitingCarsAdmin">
            
                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {# FIN 1ER TABLEAU ADMIN #}

        {# 2EME TABLEAU ADMIN #}
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="card shadow rounded border border-primary">
                <div class="card-header bg-primary bg-opacity-75 rounded-top d-flex justify-content-between align-items-center">
                    <h4 class="m-0 py-2 text-dark">INTERVENTION EN COURS:</h4>
                </div>
                <div class="card-body">
                
                    <table id="tab-admin-wip" class="table table-centered table-striped align-middle table-nowrap table-hover mb-0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>N° INTER</th>
                                <th>HEURE DU RDV</th>
                                <th>TECHNICIEN</th>
                                <th>MARQUE</th>
                                <th>IMMATRICULATION</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="wipCarsAdmin">
                        <!-- génération des rdv user ici-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {# FIN 2EME TABLEAU ADMIN #}
    </div>
</div>