<div id='dashAdmin'>
    <div class='row mt-5'>

        <!-- 1er TABLEAU VEHICULES EN ATTENTE -->
        {# <div class='col-9 col-sm-9 col-md-5 col-lg-5 mb-5'>
            <div class='card shadow rounded border-0'>
                <div class='card-header bg-card-gradient bg-opacity-75 rounded-top d-flex justify-content-between align-items-center'>
                    <h5 class='m-0 py-2 start-0 text-dark'>Rendez-vous du:</h5>
                    <div class='btnPrevious position-absolute' style='left: 27%'></div>
                    <div id='dateDuJour' class='position-absolute' style='left: 36%'> #}
                        <!-- génération des switch dates-->
                    {# </div>
                    <div class='btnNext position-absolute' style='left: 72%'></div>
                    <div class='btnBack'></div>                      
                </div>
                <div id='filtreImmat' class='d-flex align-items-center mt-1'> #}
                <!-- génération du filtre immat -->
                {# </div>   
                <div class='card-body'>
                    <div class='table-responsive'>
                        <table class='table table-centered align-middle table-nowrap table-hover mb-0'>
                            <tbody id='vehiculeAttente' class='text-center'> #}
                            <!-- génération des interventions en attente ici-->
                            {# </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <nav class='d-flex justify-content-center mt-3' aria-label='Page navigation'>
                <span class='anchor' id='anchorEnCours'>&nbsp;</span>
                <ul class='pagination justify-content-center' id='pagesHold'></ul>
            </nav>
        </div>
    </div>    #}

<div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl col-xxl">
                <div class="card shadow rounded border-0">
                    <div class="card-header bg-primary bg-opacity-75 rounded-top d-flex justify-content-between align-items-center">
                        <h4 class="m-0 py-2 text-dark">Rendez-vous du:</h4>
                         <div class='btnPrevious position-absolute' style='left: 27%'></div>
                        <div id='dateDuJour' class='position-absolute' style='left: 36%'> 
                            <!-- génération des switch dates-->
                        </div>

                        <div class='btnNext position-absolute' style='left: 72%'></div>
                        <div class='btnBack'></div>

                    </div>
                     
                    <div class="card-body">
                    
                        <table id="tab-admin" class="table table-centered table-striped align-middle table-nowrap table-hover mb-0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>N° INTER</th>
                                    <th>HEURE DU RDV</th>
                                    <th>MARQUE</th>
                                    <th>MODELE</th>
                                    <th>  
                     <div id='filtreImmat' class='d-flex justify-content-start mt-1'>
                        <!-- génération du filtre immat -->
                        </div> </th>
                                    <th></th>
                                    <th>SUPPRIMER</th>
                                </tr>
                            </thead>
                            <tbody id="vehiculeAttente">
                            <!-- génération des rdv user ici-->
                            </tbody>
                        </table>
                       
                    </div>
                </div>
            </div>
        </div>
     {# <nav class='d-flex justify-content-center mt-3' aria-label='Page navigation'>
                <span class='anchor' id='anchorEnCours'>&nbsp;</span>
                <ul class='pagination justify-content-center' id='pagesHold'></ul>
    </nav> #}

    

</div>