<div id='dashAdmin'>
    <div class='row mt-5'>
    {# TABLEAU Inter #}
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-5 px-0 px-md-3">
            <div class="card shadow rounded border border-primary">
                <div class="card-header bg-primary bg-opacity-75 rounded-top d-flex justify-content-between align-items-center">
                    <h4 class="m-0 py-2 text-white d-none d-md-inline">INTERVENTIONS</h4>
                    <button class="button-csv btn btn-outline-light" onclick='exportInterCSV()'>CSV</button>
                </div>
                <div class="card-body">
                    <table id="tab-rdv-admin" class="table table-centered table-striped align-middle table-nowrap table-hover mb-0">
                        <thead>
                            <tr align='center'>
                                <th></th>
                                <th>N° INTER</th>
                                <th>DATE</th>
                                <th>MARQUE</th>
                                <th>MODELE</th>
                                <th>  
                                    <div id='filtreImmat' class='d-flex justify-content-center mt-1'>
                                        <!-- génération du filtre immat -->
                                    </div> 
                                </th>
                                <th>STATUT</th>
                                <th>SUPPRIMER</th>
                            </tr>
                        </thead>
                        <tbody id="awaitingCarsAdmin">
            
                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {# FIN TABLEAU Inter #}
    </div>
</div>