<div id='dashAdmin'>
    <div class='row mt-5'>
    {# TABLEAU Inter #}
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-5 px-0">
            <div class="card shadow rounded border border-primary">
                <div class="card-header bg-primary bg-opacity-75 rounded-top d-flex justify-content-between align-items-center">
                    <h4 class="m-0 py-2 text-white d-md-inline">INTERVENTIONS</h4>
                    <button class="button-csv btn btn-outline-light" data-toggle="tooltip" data-placement="bottom" title="exporter au format CSV">
                        <i class="fa-solid fa-file-export">
                            <span class="ms-2">CSV</span>
                        </i>
                    </button>
                </div>
                <div class="card-body">
                    <table id="tab-rdv-admin" class="table table-centered table-striped align-middle table-nowrap table-hover">
                        <thead>
                            <tr align='center'>
                                <th>INFO</th>
                                <th>N° INTER</th>
                                <th data-priority="1">DATE</th>
                                <th>MARQUE</th>
                                <th>MODELE</th>
                                <th data-priority="2">IMMATRICULATION</th>
                                <th data-priority="3">STATUT</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="awaitingCarsAdmin">
            
                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {# FIN TABLEAU Inter #}
    </div>
</div>