Options +FollowSymLinks -MultiViews

RewriteEngine On

RewriteBase /

RewriteRule ^/?$ /templates/index.html [L,NC]

RewriteRule ^private-login?$ /templates/private-login.html [L,NC]

RewriteRule ^dashboards/technicien?$ /templates/back-office.html [L,NC]

RewriteRule ^change-password?$ /templates/change-password.html [L,NC]

RewriteRule ^dashboards/checklist?$ /templates/checklist.html [L,NC]

RewriteRule ^dashboards/client?$ /templates/client-dashboard.html [L,NC]

RewriteRule ^dashboards/reservation?$ /templates/client-form.html [L,NC]

RewriteRule ^contact?$ /templates/contact-us.html [L,NC]

RewriteRule ^profil?$ /templates/profil.html [L,NC]

RewriteRule ^inscription?$ /templates/sign-in.html [L,NC]