Options +FollowSymLinks -MultiViews

RewriteEngine On

RewriteBase /

RewriteRule ^/?$ /views/index.html [L,NC]

RewriteRule ^private-login?$ /views/private-login.html [L,NC]

RewriteRule ^dashboards/technicien?$ /views/back-office.html [L,NC]

RewriteRule ^change-password?$ /views/change-password.html [L,NC]

RewriteRule ^checklist?$ /views/checklist.html [L,NC]

RewriteRule ^dashboards/client?$ /views/client-dashboard.html [L,NC]

RewriteRule ^administration?$ /views/admin.php [L,NC]

RewriteRule ^activate-account?$ /views/activate-account.html? [L,NC]

RewriteRule ^reservation?$ /views/client-form.html [L,NC]

RewriteRule ^contact?$ /views/contact-us.html [L,NC]

RewriteRule ^profil?$ /views/profil.html [L,NC]

RewriteRule ^inscription?$ /views/sign-in.html [L,NC]

RewriteRule ^erreur-403?$ /views/403.html [L,NC]