<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"
          integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link href="../public/assets/css/theme.css" rel="stylesheet" id="style-default">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="../public/assets/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="../public/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/9414e04596.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
            integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Récupération du compte</title>
</head>

<body>

<chat-button></chat-button>

<header class="row d-flex justify-content-center g-0 mx-0 pt-lg-5 pt-4 pt-sm-4">
    <img id="logoIndex" src="../public/assets/img/animated-icons/hamsterauto-unscreen.gif" class="logo-change-pwd img-fluid" style="width:16rem"
         alt="logo_agence">
</header>

<main class="content-pwd container-xl mt-4 mt-md-3 mt-lg-0 mt-xl-0 d-flex d-md-flex d-lg-block justify-content-between justify-content-md-center justify-content-lg-0">
    <div class="row w-100 align-items-lg-center justify-content-center">
        <div class='col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 d-flex flex-column justify-content-center px-0 p-lg-5 position-relative'>
            <img class='bg-auth-circle-shape z-index--1 mt-6 me-5' src='../public/assets/img/icons/spot-illustrations/bg-shape.png' alt='' width='250'>
            <img class='bg-auth-circle-shape-2 ms-5' src='../public/assets/img/icons/spot-illustrations/shape-1.png' alt='' width='150'>
            <div class='d-flex flex-column py-lg-3 px-lg-5 py-3'>
                <div class='px-3 py-3 px-lg-5 py-lg-4 shadow border border-1 rounded bg-white'>
                    <h4 class='text-center text-3xl font-extrabold text-primary'>
                        Mise à jour <br> de votre mot de passe
                    </h4>
                    <form action='javascript:changePassword();' class='mt-4 mt-md-4 mt-lg-4'
                          method='POST'>
                        <fieldset class='rounded d-flex flex-column gap-2'>
                            <div class="input-group old_password position-relative" hidden>
                                <input
                                id='old-password'
                                name='old-password'
                                type='password'
                                class='inputPassword field form-control'
                                placeholder=' '/>
                                <label for='old-password' class='input-password-field form-label-group m-0'>Ancien</label>
                                <span class="input-group-text rounded-end" role="button" onclick="showPassword();">
                                    <i class="fa-regular fa-eye eyeShow"></i>
                                </span>
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="input-group position-relative my-2">
                                <input
                                    id='inputPassword'
                                    name='inputPassword'
                                    type='password'
                                    autocomplete='current-password'
                                    data-toggle="tooltip"
                                    data-placement="bottom" 
                                    title="Minumun 12 caractères, une majuscule, des chiffres et un caractère spécial"
                                    required
                                    class='inputPassword field form-control'
                                    placeholder=' '/>
                                <label for='inputPassword' class='input-password-field form-label-group m-0'>Nouveau</label>
                                <span class="input-group-text rounded-end" role="button" onclick="showPassword();">
                                    <i class="fa-regular fa-eye eyeShow"></i>
                                </span>
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="position-relative">
                                <input
                                    id='inputPassword2'
                                    name='inputPassword2'
                                    type='password'
                                    autocomplete='current-password'
                                    class='inputPassword field form-control'
                                    placeholder=' '/>
                                <label for='inputPassword2' class='form-label-group m-0'>Confirmation</label>
                                <div class="invalid-feedback"></div>
                            </div>
                        </fieldset>
                        <div class="mt-4">
                            <button id="btn-modify"
                                    type='submit'
                                    class='group mt-4 relative w-100 d-flex justify-content-center btn btn-primary py-2 px-4 text-sm rounded'>
                          <span class='absolute left-0 inset-y-0 flex items-center pl-3'>
                            <svg
                                    class='h-5 w-5 text-indigo-400 group-hover:text-amber-500'
                                    xmlns='http://www.w3.org/2000/svg'
                                    viewBox='0 0 20 20'
                                    fill='currentColor'
                                    aria-hidden='true'>
                            <path   fill-rule='evenodd'
                                    d='M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z'
                                    clip-rule='evenodd'/>
                            </svg>
                          </span>
                                Modifier
                            </button>
                            <div id="container-to" class="text-center" hidden>
                                <span class="d-flex justify-content-center text-dark mt-2">ou</span>
                                <a type="button" class="text-decoration-none">
                                    <span id="back">annuler cette action</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer-component-main></footer-component-main>

<script src="../public/js/changePassword.js"></script>
<script src="../public/js/components/chatButton.js"></script>
<script src="../public/js/components/header.js"></script>
<script src="../public/js/components/sweetAlertToast.js"></script>
<script src="../public/js/components/footer-main.js"></script>
<script src="../public/js/shared/fieldControl.js"></script>


</body>
</html>

