<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="../public/assets/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="../public/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/9414e04596.js" crossorigin="anonymous"></script>
    <link href="../public/assets/css/theme.css" rel="stylesheet" id="style-default">
    <title>Hamster Auto | Checklist</title>

</head>
<body class="text-black">

<modal-checklist></modal-checklist>

<div id="checklistContent" class="container-xxl mb-5">
    <!-- génération du body ici -->
</div>

<btn-top-component></btn-top-component>


<footer-component-main></footer-component-main>



<script src="../public/js/components/backTopBtn.js"></script>
<script src="../public/js/components/sweetAlertToast.js"></script>
<script src="../public/js/checkList.js"></script>
<script src="../public/js/components/footer-main.js"></script>
<script src="../public/js/components/modals/modalChecklist.js"></script>
<!--<script src="../public/js/clock.js" async></script>-->

</body>
</html>