<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="../public/assets/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="../public/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link href="../public/assets/css/theme.css" rel="stylesheet" id="style-default">
    <title>Où nous trouver !</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid">
        <div class="row min-vh-100 flex-center g-0">
            <div class="col-lg-9 col-xxl-8 py-3 position-relative">
                <img class="bg-auth-circle-shape"
                        src="../public/assets/img/icons/spot-illustrations/bg-shape.png"
                        alt="" width="250">
                <img
                    class="bg-auth-circle-shape-2" src="../public/assets/img/icons/spot-illustrations/shape-1.png"
                    alt="" width="150">
                <div class="card overflow-hidden z-index-1">
                    <div class="card-body p-0">
                        <div class="row g-0 h-100">
                            <div class="col-md-5 text-center">
                                <div class="p-4 flex-grow-1">
                                    <h3 class="text-center text-primary">Contactez-nous</h3>
                                    <h6 class="text-center">Demande d'information complémentaire</h6>
                                    <div class="sending mt-4 px-sm-5">
                                        <form class="d-flex flex-column justify-content-center gap-3"
                                              action="javascript:contactUS();"
                                              method="POST">
                                            <div class="form-group position-relative">
                                                <input
                                                    id="inputNom"
                                                    name="nom"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder=" "
                                                />
                                                <label for="inputNom" class="form-label-group m-0">Nom</label>
                                                <div class="text-start invalid-feedback"></div>
                                            </div>
                                            <div class="form-group position-relative">
                                                <input
                                                    id="inputPrenom"
                                                    name="inputPrenom"
                                                    type="text"
                                                    class="field form-control"
                                                    placeholder=" "
                                                />
                                                <label for="inputPrenom" class="form-label-group m-0">Prénom</label>
                                                <div class="text-start invalid-feedback"></div>
                                            </div>
                                            <div class="form-group position-relative">
                                                <input
                                                    id="inputEmail"
                                                    name="contactEmail"
                                                    type="email"
                                                    class="field form-control"
                                                    placeholder=" "
                                                />
                                                <label for="inputEmail" class="form-label-group m-0">Email</label>
                                                <div class="text-start invalid-feedback"></div>
                                            </div>
                                            <div class="form-group position-relative">
                                                <textarea id="inputTexte" name="contactText"
                                                    class="field form-control"
                                                    placeholder=" "></textarea>
                                                <label for="inputTexte" class="form-label-group contact-text">Message</label>
                                                <div class="text-start invalid-feedback"></div>
                                            </div>
                                            <div class="rounded-md py-3">
                                                <div class="px-3 py-2 rounded-top bg-primary text-white">
                                                    <span>Captcha :</span>
                                                    <span id="captcha"></span>
                                                </div>
                                                <div>
                                                    <input
                                                        id="inputCaptcha"
                                                        name="inputCaptcha"
                                                        type="number"
                                                        class="field form-control"
                                                        placeholder="Entrez le code captcha."
                                                    />
                                                    <label for="inputCaptcha" class="sr-only"></label>
                                                    <div class="text-start invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       id="card-register-checkbox" required/>
                                                <label class="form-label text-start" for="card-register-checkbox">
                                                    Vous devez accepter nos <a id="to-cgu" class="cursor-pointer text-primary">CGU</a> pour
                                                    pouvoir nous contacter.
                                                </label>
                                            </div>
                                            <div>
                                                <button
                                                    type="submit"
                                                    id='sign_in'
                                                    class="group relative w-100 d-flex justify-content-center py-2 px-4 rounded text-white btn btn-primary"
                                                >
                                                    Soumettre
                                                </button>
                                            </div>
                                            <div class="text-center">
                                                <span class="d-flex justify-content-center text-dark ">ou</span>
                                                <a id="back-to"
                                                   type="button"
                                                   class="text-decoration-none font-medium"
                                                >
                                                    <span>revenir à la page précédente.</span>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 d-flex flex-center pe-md-4">
                                <div class="col-12 col-md col-lg w-100" id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<modal-mentions></modal-mentions>
<modal-cgu></modal-cgu>
<chat-button></chat-button>
<!--<footer-component></footer-component>-->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/9414e04596.js" crossorigin="anonymous"></script>
<script src="../public/js/contactUs.js"></script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9qfN0hRrvQOZQxCDRNUD1dDgAw9NhhCg&callback=initMap"
        defer
></script>
<script src="../public/js/shared/fieldControl.js"></script>
<script src="../public/js/components/chatButton.js"></script>
<script src="../public/js/components/sweetAlertToast.js"></script>
<script src="../public/js/components/modals/modalMentions.js"></script>
<script src="../public/js/components/modals/modalCGU.js"></script>
<script src="../public/js/theme/sidenav-control.js"></script>

</body>
</html>