<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/assets/img/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="../public/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="manifest" href="../public/assets/img/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../vendor/jackocnr/intl-tel-input/build/css/intlTelInput.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap"
          rel="stylesheet">
    <link href="../public/assets/css/theme.css" rel="stylesheet" id="style-default">
    <link href="node_modules/select2/dist/css/select2.min.css" rel="stylesheet" />
    <title>Hamster Auto | Accueil</title>
</head>

<body>
<main class="main" id="content-request">
    <div class="content container d-flex justify-content-center align-items-center h-auto">
        <div class="row text-center pt-4 pt-lg-3 fixed-top z-index--1">
            <div class="col">
                <img id="logoIndex" src="../public/assets/img/animated-icons/hamsterauto-unscreen.gif"
                     class="animated bounce-out img-fluid"
                     style="width:12rem" alt="logo_agence">
            </div>
        </div>

        <!-- <chat-button></chat-button> -->

        <div class="row w-100 w-md-100 w-xxl-75 h-auto mt-6 mt-sm-7 mt-xl-8 mt-xxl-5 pt-5 pt-xl-2 pt-xxl-6 justify-content-center position-static position-xl-sticky position-xxl-fixed gx-6 gy-5 gy-lg-5 gy-xl-0 gy-xxl-0"
             style="top:5rem;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-5 px-0 px-xl-2">
                <img class="bg-auth-circle-shape-2 overflow-hidden"
                     src="../public/assets/img/icons/spot-illustrations/shape-1.png" alt="" width="170"
                     style="position:fixed;top:40rem;left:17rem">
                <div class="animated bounce-in-left card z-index-1">
                    <div class="card-body p-0">
                        <div class="row g-0 h-75">
                            <div class="col-md-5 text-center d-flex flex-column align-items-center justify-content-end bg-card-gradient rounded-md-start" id="card-login">
                                <div class="position-relative p-4 pt-md-6 pt-xl-4 pt-xxl-8 pb-md-9 pb-xl-8 light">
                                    <div class="bg-holder bg-auth-card-shape"
                                         style="background-image:url(../public/assets/img/icons/spot-illustrations/half-circle.png);">
                                    </div>
                                    <!--/.bg-holder-->
                                    <h3 class="text-light pb-1 pb-xl-0 pt-xl-3 pt-xxl-0">Bienvenue sur le réseau du
                                        Hamster</h3>
                                    <div class="text-center position-relative">
                                        <span class="d-flex justify-content-center text-light mt-2 mt-xl-3">Prenez rendez-vous grâce au formulaire de réservation</span>
                                        <br><span class="text-light">ou</span><br><br>
                                        <a id="to_signIn"
                                           type="button"
                                           class="btn btn-outline-light mt-sm-2 m-lg-0 px-3 ">
                                            <span class="to_signIn">Créer un compte</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="theme-control-toggle px-2 pb-4 z-index-2">
                                    <input class="form-check-input ms-0 theme-control-toggle-input switchLogo"
                                           id="themeControlToggle"
                                           type="checkbox" data-theme-control="theme" value="dark"/>
                                    <label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                                           for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                                           title="Switch to light theme"><span class="fas fa-sun fs-0"></span></label>
                                    <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                                           for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                                           title="Switch to dark theme"><span class="fas fa-moon fs-0"></span></label>
                                </div>
                            </div>
                            <div class="col-md-7 d-flex flex-center text-center">
                                <div class="p-4 pt-xl-2 pt-xxl-0 p-md-5 flex-grow-1">
                                    <div class="row justify-content-center">
                                        <div id="loginLeftCol" class="col-auto">
                                            <p>Déjà inscrit?</p>
                                            <h4 class="text-center text-primary">Accédez à votre espace</h4>
                                        </div>
                                    </div>
                                    <form class="accessPath" id="index" action="javascript:connect();" method="POST">
                                        <div class="fw-bold my-3">Identifiants</div>
                                        <div class="mb-3 position-relative">
                                            <input
                                                id="inputLogin"
                                                name="inputLogin"
                                                type="email"
                                                class="field form-control"
                                                placeholder=" "/>
                                            <label class="form-label-group m-0" for="inputLogin">Email</label>
                                            <div class="invalid-feedback mb-2"></div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <input
                                                id="inputPasswdLogin"
                                                name="inputPasswdLogin"
                                                type="password"
                                                class="inputPassword inputPasswdLogin field form-control"
                                                placeholder=" "/>
                                            <label for="inputPasswdLogin" class="input-password-field form-label-group m-0">Mot de passe</label>
                                            <div class="invalid-feedback mb-2"></div>
                                            <span class="input-group-text rounded-end showPassword" role="button" onclick="showPassword();">
                                                <i class="fa-regular fa-eye eyeShow"></i>
                                            </span>
                                        </div>
                                        <div class="row justify-content-between align-items-center w-100">
                                            <div id="toRequestMail" class="col-auto fs--1 p-0">
                                                <a type="button" class="text-primary">Mot de passe oublié?</a>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary d-block w-100 mt-3" type="submit"
                                                    name="submit" id='login'>Connexion
                                            </button>
                                        </div>
                                        <div class='mb-0 mt-5 mt-md-5 mt-xl- fs--1 fw-semi-bold text-dark opacity-75 d-flex flex-column justify-content-end'>
                                            <a class='text-decoration-underline text-primary cursor-pointer'
                                               id='to-mentions'>Mentions légales</a><br>
                                            <a class='text-decoration-underline text-primary'
                                               href='contact'>Nous contacter</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-5 mt-xl-0 px-0 px-xl-4">
                <img class="bg-auth-circle-shape overflow-hidden d-none d-xl-inline"
                     src="../public/assets/img/icons/spot-illustrations/bg-shape.png" alt="" width="250"
                     style="position:fixed;top:5rem;right:15rem">
                <div class="animated bounce-in-right card theme-wizard mb-5 mb-md-0" id="wizard"
                     style="background-image:url(../public/assets/img/authentication-corner1.png); background-size: cover;">
                    <div class="card-header bg-transparent pt-3 pt-xxl-4 pb-2">
                        <div class="form-title">
                            <h4 class="text-primary text-center pt-xl-2 pt-xxl-4">Prenez la route de la tranquillité</h4>
                            <h6 class="mb-3 text-center">Réservez sans créer de compte</h6>
                        </div>
                        <ul class="nav justify-content-between nav-wizard" hidden>
                            <li class="nav-item">
                                <a id="idStep" class="nav-link active fw-semi-bold">
                                        <span class="nav-item-circle-parent">
                                            <span class="nav-item-circle">
                                                <span class="fas fa-user"></span>
                                            </span>
                                        </span>
                                    <span class="d-none d-md-block mt-1 fs--1">Identité</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="carStep" class="nav-link fw-semi-bold">
                                        <span class="nav-item-circle-parent">
                                            <span class="nav-item-circle">
                                                <span class="fas fa-car"></span>
                                            </span>
                                        </span>
                                    <span class="d-none d-md-block mt-1 fs--1">Véhicule</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="slotStep" class="nav-link fw-semi-bold">
                                        <span class="nav-item-circle-parent">
                                            <span class="nav-item-circle">
                                                <span class="fas fa-clock"></span>
                                            </span>
                                        </span>
                                    <span class="d-none d-md-block mt-1 fs--1">Horaires</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="doneStep" class="nav-link fw-semi-bold">
                                        <span class="nav-item-circle-parent">
                                            <span class="nav-item-circle">
                                                <span class="fas fa-thumbs-up"></span>
                                            </span>
                                        </span>
                                    <span class="d-none d-md-block mt-1 fs--1">Done</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form action="javascript:newRDVHomePage();" method="POST">
                        <div class="card-body py-3" id="wizard-controller">
                            <div class="tab-content">
                                <div class="tab-pane active px-sm-3 px-md-5 text-center mt-md-8 py-md-7"
                                     role="tabpanel"
                                     aria-labelledby="bootstrap-wizard-tabHello" id="bootstrap-wizard-tabHello">
                                    <p>Ne pensez plus à votre contrôle technique, <br>nous le faisons pour vous!</p>
                                    <button class="changeStep btn btn-primary mt-5" type="button"
                                            id="new-btn">Commencer
                                    </button>
                                </div>
                                <div class="tab-pane px-sm-3 px-md-5 pt-xxl-3" role="tabpanel"
                                     aria-labelledby="bootstrap-wizard-tab0" id="bootstrap-wizard-tab0">
                                    <div class="rounded px-3 px-md-1 px-lg-1 py-md-5">
                                        <div class="d-flex gap-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                       name="optionsCivilite"
                                                       id="optionsRadios1"
                                                       value="Mr">
                                                <label class="form-check-label text-dark" for="optionsRadios1">
                                                    Mr.
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                       name="optionsCivilite"
                                                       id="optionsRadios2"
                                                       value="Mme">
                                                <label class="form-check-label text-dark" for="optionsRadios2">
                                                    Mme.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3 mb-3 position-relative">
                                            <input type="text"
                                                class="fieldRdv form-control"
                                                id="inputNom"
                                                aria-describedby="nomHelp"
                                                placeholder=" ">
                                            <label for="inputNom" class="form-label-group m-0">Nom</label>
                                            <div class="invalid-feedback mb-2"></div>
                                        </div>
                                        <div class="form-group mb-3 position-relative">
                                            <input type="text"
                                                class="fieldRdv form-control"
                                                id="inputPrenom"
                                                aria-describedby="nomHelp"
                                                placeholder=" ">
                                            <label for="inputPrenom" class="form-label-group m-0">Prénom</label>
                                            <div class="invalid-feedback mb-2"></div>
                                        </div>
                                        <div class="form-group position-relative">
                                            <input type="email"
                                                class="fieldRdv form-control"
                                                id="inputEmail"
                                                aria-describedby="emailHelp"
                                                placeholder=" ">
                                            <label for="inputEmail" class="form-label-group m-0">Email</label>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="form-group my-3 position-relative">
                                            <label for="inputTel" class="sr-only">Téléphone</label>
                                            <input type="number"
                                                name="inputTel"
                                                class="fieldRdv form-control"
                                                id="inputTel"
                                                placeholder="">
                                            <div class="d-block invalid-feedback"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane px-sm-3 px-md-5 pt-xxl-3" role="tabpanel"
                                     aria-labelledby="bootstrap-wizard-tab1" id="bootstrap-wizard-tab1">
                                    <div class="text-dark mb-3 form-label text-dark" style="font-weight: 500;">
                                        Sélectionner le format de votre
                                        immatriculation :
                                    </div>
                                    <div class="form-group d-flex gap-5 justify-content-center">
                                        <div class="form-check">
                                            <input class="form-check-input fw-bold" type="radio"
                                                   name="radioImmat"
                                                   id="newImmat"
                                                   value="newImmat" checked>
                                            <label class="form-check-label text-dark fw-bold fst-italic"
                                                   for="newImmat">
                                                Nouveau
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input " type="radio" name="radioImmat"
                                                   id="oldImmat"
                                                   value="oldImmat">
                                            <label class="form-check-label text-dark fw-bold fst-italic"
                                                   for="oldImmat">
                                                Ancien
                                            </label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3 licenseplate" id="licence-plate-new"
                                         data-country="EU">
                                        <label for="inputImmatNew"
                                               class="sr-only">Immatriculation</label>
                                        <input type="text"
                                               class="form-control"
                                               id="inputImmatNew"
                                               aria-describedby="textHelp"
                                               placeholder="AA-1234-AA"
                                               name="inputImmatNew"
                                               autocomplete="off"
                                               pattern="^[A-Z]{2} ?- ?\d{3} ?- ?[A-Z]{2}$">
                                    </div>
                                    <div class="invalid-feedback"></div>
                                    <div class="input-group mb-3 licenseplate" id="licence-plate-old"
                                         data-country="EU" hidden>
                                        <label for="inputImmatOld"
                                               class="sr-only">Immatriculation</label>
                                        <input type="text"
                                               class="form-control"
                                               id="inputImmatOld"
                                               aria-describedby="textHelp"
                                               placeholder="1234-AA-0A"
                                               name="inputImmatOld"
                                               autocomplete="off"
                                               pattern="^[0-9]{1,4} ?- ?[A-Z]{1,4} ?- ?[0-9]{1,2}$">
                                    </div>
                                    <div class="invalid-feedback"></div>
                                    <div class="d-flex flex-row justify-content-between">
                                        <div class="col-5">
                                            <label for="selectMarque" class="form-label text-dark">Marque :</label>
                                            <select class="fieldRdv form-select" id="selectMarque">
                                                <option>-</option>
                                            </select>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-5">
                                            <label for="selectModele" class="form-label text-dark">Modèle :</label>
                                            <select class="fieldRdv form-select" id="selectedModel">
                                                <option>-</option>
                                            </select>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    <div class="mt-3 form-label text-dark" style="font-weight: 500">Type de
                                        carburant :
                                    </div>
                                    <div class="row form-group mt-2">
                                        <div class="form-check col-6 col-sm-3 me-xl-1">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="optionsCarbu"
                                                    id="Essence"
                                                    value="Essence"
                                            />
                                            <label class="form-check-label text-dark fw-bold fst-italic"
                                                   for="Essence">
                                                Essence
                                            </label>
                                        </div>
                                        <div class="form-check col-6 col-sm-3">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="optionsCarbu"
                                                    id="Diesel"
                                                    value="Diesel"
                                            />
                                            <label class="form-check-label text-dark fw-bold fst-italic"
                                                   for="Diesel">
                                                Diesel
                                            </label>
                                        </div>
                                        <div class="form-check col-6 col-sm-2 me-xl-1">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="optionsCarbu"
                                                    id="Electrique"
                                                    value="Electrique"
                                            />
                                            <label
                                                    class="form-check-label text-dark fw-bold fst-italic"
                                                    for="Electrique"
                                            >
                                                Elec
                                            </label>
                                        </div>
                                        <div class="form-check col-6 col-sm-3">
                                            <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="optionsCarbu"
                                                    id="Hybride"
                                                    value="Hybride"
                                            />
                                            <label class="form-check-label text-dark fw-bold fst-italic"
                                                   for="Hybride">
                                                Hybride
                                            </label>
                                        </div>
                                    </div>
                                    <div class="text-dark mb-3 form-label text-dark" style="font-weight: 500">
                                        Première mise en circulation :
                                    </div>
                                    <div class="form-group position-relative">
                                        <input
                                            type="text"
                                            class="fieldRdv form-control"
                                            id="inputYear"
                                            autocomplete="off"
                                            placeholder=" "
                                        />
                                        <label for="inputYear" class="form-label-group m-0">
                                            Année
                                        </label>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="tab-pane px-sm-3 px-md-5 py-md-6 py-xl-7 pt-xxl-3" role="tabpanel"
                                     aria-labelledby="bootstrap-wizard-tab2" id="bootstrap-wizard-tab2">
                                     <span id="clock" class="d-flex justify-content-center">
                                        <div id="horaires" class="justify-self-center me-3"></div>
                                        <div id="statutOuverture"></div>
                                     </span>
                                    <div class="mb-3 mb-xxl-2 d-flex flex-column align-items-center text-primary fw-bold">
                                        <span class="fs-2">Horaires disponibles</span>
                                        <span class="fs--1">(réservation possible jusqu'à 15 minutes avant l'heure souhaitée)</span>
                                    </div>
                                    <div class="col-12 col-md-12 max-w-4xl mx-auto d-flex justify-content-center">
                                        <div id="rdvContainer"
                                             class="mt-2 mt-xxl-0 shadow rounded w-100 w-lg-75 w-xxl-100 overflow-hidden">
                                            &lt;!&ndash;Contenu des créneaux ici, généré avec class HTML &ndash;&gt;
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane text-center py-md-6 py-xl-4 pt-xxl-4" role="tabpanel"
                                     aria-labelledby="bootstrap-wizard-tab4" id="bootstrap-wizard-tab4">
                                    <img src="../public/assets/img/animated-icons/doneStep-greenday.gif"
                                         alt="logo-step-gd" class="mb-3" width="60%">
                                    <h4 class="mb-1">Bravo, votre créneau est réservé!</h4>
                                    <p>Un SMS de confirmation vous a été envoyé.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-light" hidden>
                            <div class="px-sm-3 px-md-5">
                                <ul class="pager wizard list-inline mb-0">
                                    <li class="previous">
                                        <button class="changeStep btn btn-link ps-0" type="button" id="prev-btn">
                                                <span class="fas fa-chevron-left me-2"
                                                      data-fa-transform="shrink-3"></span>
                                            Préc.
                                        </button>
                                    </li>
                                    <li class="next">
                                        <button class="changeStep btn btn-primary" type="button"
                                                id="next-btn">Suivant<span
                                                class="fas fa-chevron-right ms-2"
                                                data-fa-transform="shrink-3"></span>
                                        </button>
                                    </li>
                                    <li class="renew d-none">
                                        <button class="btn btn-primary" type="button"
                                                id="renew-btn">Recommencer
                                            <i class="fa-solid fa-arrow-rotate-left ms-2"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- modals DEBUT -->

<modal-mentions></modal-mentions>
<modal-cgu></modal-cgu>
<modal-reco-pwd></modal-reco-pwd>

<!-- modals FIN -->


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<!-- datedropper -->
<script src="../public/js/components/datedropper-jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/9414e04596.js" crossorigin="anonymous"></script>
<script src="node_modules/select2/dist/js/select2.min.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="../public/js/index.js"></script>
<script src="../public/js/login.js"></script>
<script src="../public/js/recoveryRequests.js"></script>
<script src="../public/js/shared/formLoader.js"></script>
<script src="../public/js/components/horaires.js"></script>
<script src="../public/js/shared/fieldControl.js"></script>
<script src="../public/js/components/chatButton.js"></script>
<script src="../public/js/components/sweetAlertToast.js"></script>
<script src="../public/js/components/modals/modalMentions.js"></script>
<script src="../public/js/components/modals/modalCGU.js"></script>
<script src="../vendor/jackocnr/intl-tel-input/build/js/intlTelInput-jquery.min.js"></script>
<script src="../public/js/theme/sidenav-control.js"></script>
<script src="../public/js/components/modals/modalRecoPwd.js"></script>


</body>
</html>