<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="../public/assets/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="../public/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="../vendor/jackocnr/intl-tel-input/build/css/intlTelInput.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/9414e04596.js" crossorigin="anonymous"></script>
    <link href="../public/assets/css/theme.css" rel="stylesheet" id="style-default">
    <title>Inscription</title>
</head>

<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-xl">
        <div class="row min-vh-100 flex-center g-0">
            <div class="col-lg-8 col-xxl-6 py-3 position-relative"><img class="bg-auth-circle-shape" src="../public/assets/img/icons/spot-illustrations/bg-shape.png" alt="" width="250"><img class="bg-auth-circle-shape-2" src="../public/assets/img/icons/spot-illustrations/shape-1.png" alt="" width="150">
                <div class="card overflow-hidden z-index-1">
                    <div class="card-body p-0">
                        <div class="row g-0 h-100">
                            <div class="col-md-5 text-center bg-card-gradient ">
                                <div class="position-relative p-4 pt-md-5 pb-md-7 light">
                                    <div class="bg-holder bg-auth-card-shape" style="background-image:url(../public/assets/img/icons/spot-illustrations/half-circle.png);">
                                    </div>
                                    <!--/.bg-holder-->
                                    <div class="z-index-1 position-relative">
                                        <img src="../public/assets/img/hamsterautoNuit-unscreen.gif" class="logo_agence img-fluid" style="width:70%"
                                             alt="logo_agence">
                                    </div>
                                    <div class="z-index-100 mt-4 mt-sm-5">
                                        <p class="opacity-75 text-white">Bienvenue sur le réseau du Hamster</p>
                                        <div class='mb-0 mt-5 mt-md-5 fs--1 fw-semi-bold text-dark opacity-75 d-flex flex-column justify-content-end'>
                                            <a class='text-decoration-underline text-light cursor-pointer' id='to-mentions'>Mentions légales</a><br>
                                            <a class='text-decoration-underline text-light' id='to-cgu' href='./contact-us.html'>Nous contacter</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4 mt-md-4 mb-md-5 light">
                                    <p class="pt-3 text-white">Déjà un compte?<br><a class="btn btn-outline-light mt-sm-2 px-4" id="to_logIn">Se connecter</a></p>
                                </div>
                                <div class="theme-control-toggle pb-3 pb-md-0 px-2 d-flex justify-content-center mb-3">
                                    <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle"
                                           type="checkbox" data-theme-control="theme" value="dark"/>
                                    <label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                                           for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                                           title="Switch to light theme"><span class="fas fa-sun fs-0"></span></label>
                                    <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                                           for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                                           title="Switch to dark theme"><span class="fas fa-moon fs-0"></span></label>
                                </div>
                            </div>
                            <div class="col-md-7 d-flex flex-center">
                                <div class="p-4 p-md-5 flex-grow-1">
                                    <h3 class="text-center text-primary">Inscription</h3>
                                    <h6 class="text-center">Veuillez renseigner vos informations personnelles</h6>
                                    <form class="d-flex justify-content-center mt-3" action="javascript:signIn();"
                                          method="POST">
                                        <fieldset class="d-flex flex-column gap-1 w-100 rounded p-2 p-sm-0 p-md-0 p-lg-0">
                                            <div class="d-flex gap-2 mb-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="optionsCivilite"
                                                           id="optionsRadios1"
                                                           value="Mr">
                                                    <label class="form-check-label text-dark" for="optionsRadios1">
                                                        Mr.
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="optionsCivilite"
                                                           id="optionsRadios2"
                                                           value="Mme">
                                                    <label class="form-check-label text-dark" for="optionsRadios2">
                                                        Mme.
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="optionsCivilite"
                                                           id="optionsRadios3"
                                                           value="Mlle">
                                                    <label class="form-check-label text-dark" for="optionsRadios3">
                                                        Mlle.
                                                    </label>
                                                </div>
                                            </div>
                                            <div>
                                                <label for="inputNom" class="sr-only"></label>
                                                <input
                                                        id="inputNom"
                                                        name="nom"
                                                        type="text"
                                                        class="appearance-none form-control rounded-top px-3 py-2 border border-gray-300 text-secondary"
                                                        placeholder="Nom"
                                                />
                                                <div class="invalid-feedback mb-2"></div>
                                            </div>
                                            <div>
                                                <label for="inputPrenom" class="sr-only"></label>
                                                <input
                                                        id="inputPrenom"
                                                        name="prenom"
                                                        type="text"
                                                        class="field form-control appearance-none rounded-none  px-3 py-2 border border-gray-300 text-secondary"
                                                        placeholder="Prénom"
                                                />
                                                <div class="invalid-feedback mb-2"></div>
                                            </div>
                                            <div>
                                                <label for="inputEmail" class="sr-only"></label>
                                                <input
                                                        id="inputEmail"
                                                        name="inputEmail"
                                                        type="email"
                                                        class="field appearance-none form-control rounded-none  px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900"
                                                        placeholder="Login (Adresse Email)"
                                                />
                                                <div class="invalid-feedback mb-2"></div>
                                            </div>
                                            <div>
                                                <label for="inputTel" class="sr-only"></label>
                                                <input
                                                        id="inputTel"
                                                        name="inputTel"
                                                        type="tel"
                                                        class="field form-control appearance-none rounded-none relative ps-5 py-2 border border-gray-300 placeholder-gray-500 text-gray-900"
                                                        placeholder=""
                                                />
                                                <div class="invalid-feedback mb-2"></div>
                                            </div>
                                            <div>
                                                <label for="inputPassword" class="sr-only"></label>
                                                <input
                                                        id="inputPassword"
                                                        name="inputPassword"
                                                        type="password"
                                                        class="field form-control appearance-none rounded-none relative  px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900"
                                                        placeholder="Mot de passe"
                                                />
                                                <div class="invalid-feedback mb-2"></div>
                                            </div>

                                            <div>
                                                <label for="inputPassword2" class="sr-only"></label>
                                                <input
                                                        id="inputPassword2"
                                                        name="inputPassword2"
                                                        type="password"
                                                        class="field form-control appearance-none rounded-bottom relative  px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900"
                                                        placeholder="Confirmez mot de passe"
                                                />
                                                <div class="invalid-feedback mb-2"></div>
                                            </div>
                                            <div class="rounded-md py-3">
                                                <div class="px-3 py-2 rounded-top bg-primary text-white">
                                                    <span>Captcha :</span>
                                                    <span id="captcha"></span>
                                                </div>
                                                <div>
                                                    <label for="captcha_verif" class="sr-only"></label>
                                                    <input
                                                            id="captcha_verif"
                                                            name="captcha_verif"
                                                            type="text"
                                                            class="field form-control appearance-none rounded-bottom relative px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900"
                                                            placeholder="Entrez le code captcha."
                                                    />
                                                    <div class="invalid-feedback mb-2"></div>
                                                </div>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="card-register-checkbox" />
                                                <label class="form-label" for="card-register-checkbox">Vous devez accepter nos <a id="to-cgu" class="text-primary" type="button">CGU</a> pour pouvoir créer un compte client.</label>
                                            </div>
                                            <div>
                                                <button
                                                        type="submit"
                                                        id='sign_in'
                                                        class="group relative w-100 d-flex justify-content-center py-2 px-4 rounded text-white btn btn-primary"
                                                >
                                                    <span class="absolute left-0 inset-y-0 d-flex align-items-center pl-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             class="h-5 w-5 text-white group-hover:text-amber-500"
                                                             fill="none"
                                                             viewBox="0 0 24 24"
                                                             stroke="currentColor"
                                                             stroke-width="2">
                                                            <path
                                                                    stroke-linecap="round"
                                                                    stroke-linejoin="round"
                                                                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                                                            />
                                                        </svg>
                                                    </span>
                                                    S'incrire !
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<modal-mentions></modal-mentions>
<modal-cgu></modal-cgu>

<script src="../public/js/signIn.js"></script>
<script src="../public/js/sharedFunctions/fieldControl.js"></script>
<script src="../public/js/components/chatButton.js"></script>
<script src="../public/js/components/footer.js"></script>
<script src="../public/js/components/modalMentions.js"></script>
<script src="../public/js/components/modalCGU.js"></script>
<script src="../vendor/jackocnr/intl-tel-input/build/js/intlTelInput-jquery.min.js"></script>
<script src="../public/js/theme/sidenav-control.js"></script>


</body>
</html>